//
// File with styles for selectors with tag names and global elements 
//



// In processing ...

a,
a:hover,
a:visited,
a:active,
a:focus {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
}

input {
    border: none;
    outline: none;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden
}

body::-webkit-scrollbar {
    display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

*:focus,
*:focus-visible {
    outline: none;
}

// *:focus,
// *:focus-visible {
//     outline: 1px solid green;
// }

// * {
//     outline: 1px solid green;
// }