//
// File with styles for selectors with tag names and global elements 
//



// In processing ...

a,
a:hover,
a:visited,
a:active,
a:focus {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

input {
    border: none;
    outline: none;
}

main {
    background-color: red;
}