//
// utils file
// 

@use 'sass:math';
@use "media" as *;
@use "mixins" as *;

.container {
    display: flex;
    flex-direction: column;
    max-width: var(--container-width-default);
    width: 100%;
    margin-inline: auto;

    @include laptop {
        padding-inline: var(--container-padding-inline);
    }

    @include mobile-small {
        padding-inline: var(--container-padding-inline-small);
    }
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.visually-hidden {
    @include visually-hidden;
}

.mobile-hidden {
    @include mobile-hidden;
}

.mobile-visible {
    @include mobile-visible;
}

.overlay {
    @include overlay;
}

.button {
    @include fluid-text(20, 20);
    @include font(var(--font-family), 700, 1);
    border-radius: 16px;
    padding-block: var(--button-padding-block);
}