@use "../../styles/index" as *;

.header {
    position: relative;
    background-color: var(--color-white);
    z-index: 9;

    &__inner {
        max-width: 1596px !important;

        @media (max-width: 1644px) {
            padding-inline: var(--container-padding-inline);
        }
    }

    &__row {
        padding-block: 69px;
        align-items: center;

        @include laptop {
            padding-block: 49px;
        }

        @include mobile {
            padding-block: 29px 115px;
        }

        @include mobile-small {
            padding-block: 19px 95px;
        }
    }

    &__column {}

    &__column--1 {}

    &__logo-link {
        transition: transform var(--transition);

        @include desktop-screen {

            &:hover,
            &:focus-visible {
                transform: scale(1.03);
            }
        }

        @include touch-screen {

            &:hover,
            &:focus-visible {
                transform: none;
            }
        }
    }

    &__logo {
        @media (max-width: 1644px) {
            width: 169px;
            height: 50px;
        }

        @include mobile-small {
            width: 130px;
            height: 40px;
        }
    }

    &__column--2 {
        @include tablet {
            display: none !important;
        }
    }

    &__navigation {}

    &__navigation-list {
        display: flex;
        gap: 40px;

        @media (max-width: 1644px) {
            gap: 30px;
        }
    }

    &__navigation-list-item {}

    &__navigation-link {
        @include fluid-text(20, 16);
        @include font(var(--font-family), 700, 1);
        color: var(--color-blue);
        transition: transform var(--transition);

        @media (max-width: 1170px) {
            @include fluid-text(16, 14);
        }

        @include desktop-screen {

            &:hover,
            &:focus-visible {
                transform: scale(1.05);
            }
        }

        @include touch-screen {

            &:hover,
            &:focus-visible {
                transform: none;
            }
        }
    }

    &__dropdown {}

    &__column--3 {
        flex-direction: row !important;
        gap: 18px;

        @media (max-width: 1644px) {
            gap: 14px;
        }
    }

    &__search-wrap {
        position: relative;

        // HACK: positioning search outside its column

        @include mobile {
            position: absolute;
            width: calc(100% - 48px);
            left: 24px;
            top: 116px;
        }

        @include mobile-small {
            width: calc(100% - 24px);
            left: 12px;
            top: 96px;
        }
    }

    &__search {}

    &__input {
        width: 376px;
        height: 66px;
        padding-block: var(--input-padding-block);
        padding-inline: var(--input-padding-block);
        background-color: var(--color-lightgray);
        border-radius: 36px;
        @include fluid-text(20, 16);
        @include font(var(--font-family), 700, 1);
        color: var(--color-blue);
        caret-color: var(--color-blue);

        @media (max-width: 1310px) {
            width: 270px;
        }

        @include tablet {
            width: 320px;
        }

        @include mobile {
            width: 100%;
        }

        @include mobile-small {
            height: 56px;
        }
    }

    &__input--search {}

    &__button--search {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 56px;
        height: 56px;
        background-color: var(--color-green);
        border-radius: 50%;
        transition: background-color var(--transition);

        @include mobile-small {
            width: 46px;
            height: 46px;
        }

        & svg {
            position: relative;
            top: 3px;
            left: 1px;
            color: var(--color-white);
        }

        @include desktop-screen {

            &:hover,
            &:focus-visible {
                background-color: var(--color-darkgreen);
            }
        }

        @include touch-screen {

            &:hover,
            &:focus-visible {
                background-color: var(--color-green);
            }
        }
    }

    &__dropdown--search {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 200px;
        background-color: var(--color-lightgray);
        border-radius: 30px;
        padding: 25px;
    }

    &__dropdown-list {}

    &__dropdown-list-item {}

    &__button--cart {
        position: relative;
        width: 160px;
        border: var(--border-default);
        border-radius: 36px;
        padding-left: 70px;
        align-items: center;

        @media (max-width: 1310px) {
            width: 67px;
            padding: 0;
            border-radius: 50%;
        }

        @include mobile-small {
            width: 56px;
            height: 56px;
        }

        @include desktop-screen {

            .header__button--cart-decoration {

                &:hover,
                &:focus-visible {
                    background-color: var(--color-darkblue);
                }
            }

            &:focus-visible {
                .header__button--cart-decoration {
                    background-color: var(--color-darkblue);
                }
            }
        }

        @include touch-screen {

            .header__button--cart-decoration {

                &:hover {
                    background-color: var(--color-blue);
                }
            }

            &:focus-visible {
                .header__button--cart-decoration {
                    background-color: var(--color-blue);
                }
            }
        }
    }

    &__button--cart-decoration {
        position: absolute;
        top: 4px;
        left: 5px;
        width: 56px;
        height: 56px;
        background-color: var(--color-blue);
        border-radius: 50%;
        transition: background-color var(--transition);

        @include mobile-small {
            width: 45px;
            height: 46px;
        }

        svg {
            position: absolute;
            top: 15px;
            left: 13px;
            color: var(--color-white);

            @include mobile-small {
                width: 20px;
                height: 20px;
                top: 12px;
                left: 12px;
            }
        }
    }

    &__button--cart-text {
        @include fluid-text(20, 16);
        @include font(var(--font-family), 700, 1);
        color: var(--color-blue);

        @media (max-width: 1310px) {
            display: none;
        }
    }

    &__dropdown--cart {}
}